/* style.css */

/* Gradient background */
body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }
  
  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  form {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5;
    color : rgb(0, 0, 0);
    border-radius: 5px ;
    
  }  

  /* strong {
    color: whitesmoke;
} */